.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.form-section {
  width: 48%;
}

.logo {
  background-color: burlywood;
  height: 50vh;
  width: 48%;
}

.trybewarts-forms-logo {
  height: 500px;
}
