  body {
    background-image: url(imagens-stomatopada/uw-2010-06-11.jpg);
    background-size: auto;
  }
  
  .article {
    background-color: antiquewhite;
  }
  
  .header {
    background-color: aquamarine;
    width: auto;
    top: 100px;
  }

  .titulo-header {
    text-align: center;
    color: green;
  }

  .pagina-inicial:hover {
    border-color: 30px coral solid;
  }

  #table , th , td {
    border: 3px red solid;
  }
  